<div>
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitTradePath %>" method="post">
      <% if (!trade.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div  class="field">
        <label for="id_user1">id_user1</label>
        <input type="integer" name="id_user1" value="<%= trade.id_user1 %>" />
      </div>
      <div  class="field">
        <label for="id_user2">id_user2</label>
        <input type="integer" name="id_user2" value="<%= trade.id_user2 %>" />
      </div>
      <div  class="field">
        <label for="status">status</label>
        <input type="integer" name="status" value="<%= trade.status %>" />
      </div>
      <div  class="field">
        <label for="actual_offer">actual_offer</label>
        <input type="integer" name="actual_offer" value="<%= trade.actual_offer %>" />
      </div>
      <div  class="field">
        <% if (trade.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>