<div>
    <% if (locals.errors) { %>
      <div class="errors">
        You need to fix the following errors:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitMessagePath %>" method="post">
      <% if (!message.isNewRecord) { %>
        <input type="hidden" name="_method" value="patch" />
      <% } %>
      <div  class="field">
        <label for="id_user1">content</label>
        <input type="text" name="content" value="<%= message.content %>" />
      </div>
      <div  class="field">
        <label for="sender">sender</label>
        <input type="integer" name="sender" value="<%= message.sender %>" />
      </div>
      <div  class="field">
        <label for="trade_id">trade_id</label>
        <input type="integer" name="trade_id" value="<%= message.trade_id %>" />
      </div>
      <div  class="field">
        <input type="hidden" name="tradeId" value=1 />
      </div>
      <div  class="field">
        <% if (message.isNewRecord) { %>
          <input type="submit" name="create" value="Create" />
        <% } else { %>
          <input type="submit" name="update" value="Update" />
        <% } %>
      </div>
    </form>
  </div>